<!DOCTYPE html>
<html lang="en">
<head>
    <title> Result! </title>
</head>
<body>
    <div class="result">
        <p class="resulttext">Your top choices were: <br> <b>1st: <%=@first%></b> <br> 
        <b>2nd: <%=@second%></b> <br> <b>3rd: <%=@third%></b></p> <br>
        
        <p class="resulttext">From the data analysis executed based on your choices for this
        preference tournament:</p> <br>
    
        <p class="resulttext">Based on the analysis, it looks like you prefer <%=@fresh_fried%> noodles that are 
       <%=@thickness%>.</p> <br>
    
        <p class="resulttext">The analysis also indicates that you prefer ramen that is
        <%=@soup%>, served <%=@cold_hot%>; and you are someone who <%=@salt%>.</p> <br>
    
        <p class="resulttext">In terms of flavor, you have a liking for ramen <%=@norm_special%>,
        <%=@spiceLevel%>, and that comes <%=@oil%>.</p>
    </div>
    
</body>

